body {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.main--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--title h2{
    margin-bottom: 0px;
    margin-top: 30px;
}

.main--title h4 {
    margin-top: 8px;
}

.main__hero {
    display: flex;
    width: 600px;
    margin: 0 auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}

.main__hero .lista-idioma-1 {
    display: flex;
    flex-direction: column;
    
}
.main__hero .lista-idioma-1 div {
    text-align: center;
}

.main__hero .lista-idioma-2 div {
    text-align: center;
}

.main__hero .lista-idioma-1 div > p {
    color: #54595d;
    font-size: 13px;
    margin-top: 5px;
}

.main__hero .lista-idioma-1 div > a {
    text-decoration: none;
    color: #36c;
}

.main__hero .lista-idioma-2 div > p {
    color: #54595d;
    font-size: 13px;
    margin-top: 5px;
}

.main__hero .lista-idioma-2  div > a {
    text-decoration: none;
    color: #36c;
}
.main__hero .lista-idioma-2 {
    display: flex;
    flex-direction: column;
}

.Español{
    margin-left: 110px;
    cursor: pointer;
}

.Español:hover {
    text-decoration: underline;
}


.日本語 {
    margin-left: 30px;
    cursor: pointer;
}

.日本語:hover{
    text-decoration: underline;
}

.Русский {
    margin-left: 10px;
    cursor: pointer;
}

.Русский:hover {
    text-decoration: underline;
}

.Italiano {
    margin-left: 20px;
    cursor: pointer;
}

.Italiano:hover {
    text-decoration: underline;
}

.Português {
    margin-left:110px;
    cursor: pointer;
}

.Português:hover {
    text-decoration: underline;
}

.English {
    margin-left: 100px;
    cursor: pointer;
}

.English:hover {
    text-decoration: underline;
}

.Deutsch {
    margin-left: 230px;
    cursor: pointer;
}

.Deutsch:hover {
    text-decoration: underline;
}

.Français {
    margin-left: 230px;
    cursor: pointer;
}

.Français:hover {
    text-decoration: underline;
}

.中文 {
    margin-left: 220px;
    cursor: pointer;
}

.中文:hover {
    text-decoration: underline;
}

.Polski {
    margin-left: 100px;
    cursor: pointer;
}

.Polski:hover {
    text-decoration: underline;
}

.search {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 25px
}

.search input {
    width: 330px;
    height: 35px;
    border: 1px solid #a2a9b1;
    border-right: none;
    outline: none;
}

.search input:hover {
    border: 1px solid black;
    border-right: none;
}

.search--img {
    width: 50px;
    height: 33px;
    border: 1px solid #36c;
    background-color: #36c;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search--img img {
    height: 25px;
    padding-top: 5px;
}

.idioma {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.idioma button {
    background-color: #f8f9fa;
    background-image: url('https://img.icons8.com/color/48/000000/google-translate.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 250px;
    height: 35px;
    color: #36c;
    border: 1px solid #a2a9b1;
    cursor: pointer;
}

.idioma button:hover {
    background-color: white;
}

.section-main {
    display: flex;
    border-top: 1px solid #a2a9b1;
}

.section-spam {
    width: 30%;
}

.section-nav__menu-1 {
    display: flex;
}

.section-nav__menu-1 .Commons {
    background-image: url('https://img.icons8.com/ultraviolet/40/000000/creative-commons.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 184px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-1 .Commons h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-1 .Commons p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-1 .wikiviajes {
    background-image: url('https://img.icons8.com/bubbles/50/000000/national-park.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 189px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-1 .wikiviajes h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-1 .wikiviajes p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-1 .wikcionario {
    background-image: url('https://img.icons8.com/doodle/48/000000/wikipedia--v1.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 151px;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-nav__menu-1 .wikcionario h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-1 .wikcionario p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

/*------------------------*/

.section-nav__menu-2 {
    display: flex;
}

.section-nav__menu-2 .wikilibros {
    background-image: url('https://img.icons8.com/plasticine/100/000000/books.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 48px;
    width: 182px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-2 .wikilibros h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-2 .wikilibros p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-2 .wikinoticias {
    background-image: url('https://img.icons8.com/doodle/48/000000/news.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 193px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-2 .wikinoticias h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-2 .wikinoticias p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-2 .wikidata {
    background-image: url('https://img.icons8.com/officel/80/000000/data-backup.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    width: 192px;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-nav__menu-2 .wikidata h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-2 .wikidata p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

/*----------------------------*/

.section-nav__menu-3 {
    display: flex;
}

.section-nav__menu-3 .wikiversidad {
    background-image: url('https://img.icons8.com/office/40/000000/university.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 188px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-3 .wikiversidad h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-3 .wikiversidad p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-3 .wikiquote {
    background-image: url('https://img.icons8.com/doodle/48/000000/quote.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 191px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-3 .wikiquote h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-3 .wikiquote p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-3 .mediawiki {
    background-image: url('https://img.icons8.com/doodle/48/000000/media.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    width: 209px;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-nav__menu-3 .mediawiki h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-3 .mediawiki p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

/*--------------------------------*/

.section-nav__menu-4 {
    display: flex;
}

.section-nav__menu-4 .wikisource {
    background-image: url('https://img.icons8.com/bubbles/50/000000/iceberg.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 185px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-4 .wikisource h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-4 .wikisource p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-4 .wikispecies {
    background-image: url('https://img.icons8.com/office/40/000000/corgi.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 193px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-nav__menu-4 .wikispecies h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-4 .wikispecies p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}

.section-nav__menu-4 .meta-wiki {
    background-image: url('https://img.icons8.com/color/48/000000/earth-planet.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
    width: 278px;
    cursor: pointer;
    margin-bottom: 20px;
}

.section-nav__menu-4 .meta-wiki h4 {
    margin-bottom: 5px;
    margin-left: 50px;
    color: #36c;
    font-size: 14px;
}

.section-nav__menu-4 .meta-wiki p {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 13px;
    color: #54595d;
}