body {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 500px;
}

.main--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--title h2{
    margin-bottom: 0px;
    margin-top: 30px;
}

.main--title h4 {
    margin-top: 8px;
}

.main__hero {
    display: flex;
    width: 600px;
    margin: 0 auto;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}

.main__hero .lista-idioma-1 {
    display: flex;
    flex-direction: column;
    
}
.main__hero .lista-idioma-1 div {
    text-align: center;
}

.main__hero .lista-idioma-2 div {
    text-align: center;
}

.main__hero .lista-idioma-1 div > p {
    color: #54595d;
    font-size: 13px;
    margin-top: 5px;
}

.main__hero .lista-idioma-1 div > a {
    text-decoration: none;
    color: #36c;
}

.main__hero .lista-idioma-2 div > p {
    color: #54595d;
    font-size: 13px;
    margin-top: 5px;
}

.main__hero .lista-idioma-2  div > a {
    text-decoration: none;
    color: #36c;
}
.main__hero .lista-idioma-2 {
    display: flex;
    flex-direction: column;
}

.Español{
    margin-left: 110px;
    cursor: pointer;
}

.Español:hover {
    text-decoration: underline;
}


.日本語 {
    margin-left: 30px;
    cursor: pointer;
}

.日本語:hover{
    text-decoration: underline;
}

.Русский {
    margin-left: 10px;
    cursor: pointer;
}

.Русский:hover {
    text-decoration: underline;
}

.Italiano {
    margin-left: 20px;
    cursor: pointer;
}

.Italiano:hover {
    text-decoration: underline;
}

.Português {
    margin-left:110px;
    cursor: pointer;
}

.Português:hover {
    text-decoration: underline;
}

.English {
    margin-left: 100px;
    cursor: pointer;
}

.English:hover {
    text-decoration: underline;
}

.Deutsch {
    margin-left: 230px;
    cursor: pointer;
}

.Deutsch:hover {
    text-decoration: underline;
}

.Français {
    margin-left: 230px;
    cursor: pointer;
}

.Français:hover {
    text-decoration: underline;
}

.中文 {
    margin-left: 220px;
    cursor: pointer;
}

.中文:hover {
    text-decoration: underline;
}

.Polski {
    margin-left: 100px;
    cursor: pointer;
}

.Polski:hover {
    text-decoration: underline;
}

.search {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 25px
}

.search input {
    width: 330px;
    height: 35px;
    border: 1px solid #a2a9b1;
    border-right: none;
    outline: none;
}

.search input:hover {
    border: 1px solid black;
    border-right: none;
}

.search--img {
    width: 50px;
    height: 33px;
    border: 1px solid #36c;
    background-color: #36c;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search--img img {
    height: 25px;
    padding-top: 5px;
}
